---
import Layout from '@layouts/Layout.astro';
import SectionHeading from '@layouts/SectionHeading.astro';
import ReactCounter from '@react/ReactCounter.tsx';
const someProps = {
	count: 0,
};

import PreactCounter from '@preact/PreactCounter.tsx';
import VueCounter from '@vue/VueCounter.vue';
import SolidCounter from '@solid/SolidCounter.tsx';
import SvelteCounter from '@svelte/SvelteCounter.svelte';
---

<Layout title="Why Astro?">
	<main class="" id="main">
		<a href="/">
			<i class="fa-solid fa-circle-left fa-2xl"></i>
		</a>

		<h1 class="font-serif font-bold">🚀 The power of Astro.</h1>

		<p>This page is an short example to display the power of Astro.</p>
		<br />
		<p>Astro gives the developer the power to use multiple front-end frameworks in one project.</p>
		<br />
		<p>I have simply enacted multiple counting functions on this page using the different and popular front-end frameworks but this displays the enormous power that Astro gives to SSG sites.</p>

		<SectionHeading title="React"/>
		<ReactCounter {...someProps} client:visible>
			<h3>Hello from React!</h3>
		</ReactCounter>

		<SectionHeading title="Preact"/>
		<PreactCounter client:visible>
			<h3>Hello from Preact!</h3>
		</PreactCounter>

		<SectionHeading title="Vue"/>
		<VueCounter client:visible>
			<h3>Hello from Vue!</h3>
		</VueCounter>

		<SectionHeading title="SolidJs"/>
		<SolidCounter client:visible>
			<h3>Hello from Solid!</h3>
		</SolidCounter>

		<SectionHeading title="Svelte"/>
		<SvelteCounter client:visible>
			<h3>Hello from Svelte!</h3>
		</SvelteCounter>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 180ch;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>

<script>
</script>
