---
import Layout from '../../layouts/Layout.astro';
import SectionHeading from '../../layouts/SectionHeading.astro';
---

<Layout title="How to contact me">
	<main class="" id="main">
		<a href="/">
			<i class="fa-solid fa-circle-left fa-2xl"></i>
		</a>

		<h1 class="font-serif font-bold">✍️  How to Contact Me.</h1>

		<div class="flex justify-center">
			<SectionHeading title="Socials:"/>
		</div>
		<div class="flex justify-center">
			<a href="https://www.linkedin.com/in/colin-savacool-63a217118">
				<i class="fa-brands fa-linkedin-in fa-2xl"></i>
			</a>
		</div>

		<div class="flex justify-center pt-4">
			<SectionHeading title="Email:"/>
		</div>
		<div class="flex justify-center">
			<h3> cjsavacool@gmail.com </h3>
		</div>
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 180ch;
	}
</style>
