---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionHeading from '../layouts/SectionHeading.astro';
import Button from '../components/Button.astro';

import astro from '../images/astro.svg';
import tailwind from '../images/tailwind-css.svg';
---

<Layout title="Welcome to my Portfolio.">
	<main class="" id="main">
		<!-- bg-stone-900 text-stone-600 -->

		<h1 class="font-serif font-bold">👋 I'm Colin Savacool.</h1>
		<h2 class="font-serif font-bold"><code>A Web Engineer who loves to make cool things!</code></h2>

		<div class="grid grid-cols-3 gap-2 text-center place-content-center 2xl:p-4 xl:p-4 lg:p-4 md:p-2">
			<Button href="/resume/" title="Resume" color="btn btn-yellow shadow-sm shadow-black" />
			<Button href="" title="Contact" color="btn btn-red shadow-sm shadow-black" />
			<Button href="/cool-stuff/" title="Click Me!" color="btn btn-slate shadow-sm shadow-black" />
		</div>

		<SectionHeading title="Professional"/>
		<ul role="list" class="grid grid-cols-2 gap-2 link-card-grid">
			<Card
				href="https://cyberhoot.com/"
				title="CyberHoot"
				body="Administration web application for vCISOs to track policy compliance and employee trainings."
				icon_1="fa-brands fa-php"
				icon_2="fa-brands fa-square-js"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
			<Card
				href="https://americanfinancellc.com/"
				title="American Finance LLC"
				body="Custom website built for a business' landing page."
				icon_1="fa-brands fa-php"
				icon_2="fa-brands fa-square-js"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
			<Card
				href="https://portal.americanfinancellc.com/"
				title="Admin Portal"
				body="Administration web application written with a proprietary web framework."
				icon_1="fa-brands fa-php"
				icon_2="fa-brands fa-square-js"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
			<Card
				href="https://www.p2ri.com/"
				title="Pathway - P2RI"
				body="Web application and assesment for cyber security risk management. Built to serve CISOs and give companies a pathway to becoming compliant."
				icon_1="fa-brands fa-php"
				icon_2="fa-brands fa-square-js"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
		</ul>

		<SectionHeading title="Personal"/>
		<ul role="list" class="grid grid-cols-2 gap-2 link-card-grid">
			<Card
				href="https://www.thehillsclothing.com/"
				title="The Hills Clothing Co."
				body="Online store and gallery for a small-batch, luxury street and urban clothing brand." 
				icon_2="fa-brands fa-css3-alt"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-wix"
			/>
			<Card
				href="https://www.loocavas.art/"
				title="Loocavas Art Gallery"
				body="Online gallery to display a local artist's works."
				icon_1="fa-brands fa-php"
				icon_2="fa-brands fa-square-js"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
			<Card
				href="https://rootz.wiki/"
				title="rootz.wiki"
				body="Start-up project detailing the lineage and history of cannabis and it's various genetics."
				icon_1="fa-brands fa-php"
				icon_2="fa-brands fa-square-js"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
		</ul>

		<SectionHeading title="Cool Stuff I Built"/>
		<ul role="list" class="grid grid-cols-2 gap-2 link-card-grid">
			<Card
				href="https://www.hexcraftcannabis.com/"
				title="Hex Craft CSS Art"
				body="Web art built and designed with HTML and CSS only."
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
			<Card
				href="https://www.colinsava.cool/sandbox/menu.html"
				title="Front-end Menu"
				body="Top navigation menu I am playing around with, love the way this looks and feels on a smaller screen."
				icon_1="fa-brands fa-php"
				icon_2="fa-brands fa-square-js"
				icon_3="fa-brands fa-html5"
				icon_4="fa-brands fa-css3-alt"
			/>
		</ul>

		<div class="grid grid-cols-2 gap-2 m-5 p-5">
			<h2> This site was built using: </h2>
			<p class="grid grid-cols-4 gap-2"> 
				<a href="https://astro.build/">
					<img src={astro} alt="astro statics site framework" width="200" height="100" class="p-2"/>
				</a>
				<a href="https://tailwindcss.com/">
					<img src={tailwind} alt="tailwind, streamlined css framework" width="100" height="100" />
				</a>
			</p>
		</div>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 180ch;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>

<script>
</script>
