---
import Layout from '../../layouts/Layout.astro';
import SectionHeading from '../../layouts/SectionHeading.astro';
---

<Layout title="Why Astro?">
	<main class="" id="main">
		<a href="/">
			<i class="fa-solid fa-circle-left fa-2xl"></i>
		</a>

		<h1 class="font-serif font-bold">🚀 The power of Astro.</h1>

		<p>This page is an short example to display the power of Astro.</p>
		<p>Astro gives the developer the power to use multiple front-end frameworks in one project.</p>
		<p>I have simply enacted multiple count functions on this page but the potential for running benchmark tests of different frameworks and having them easily display over one project.</p>

		<SectionHeading title="React"/>
		<SectionHeading title="Preact"/>
		<SectionHeading title="SolidJs"/>
		<SectionHeading title="Vue"/>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 180ch;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>

<script>
</script>
