.counter {
	display: grid;
	font-size: 2em;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	place-items: center;
	background: #a8a29e;
	border-radius: 1rem;
	margin: 0.5em;
	padding: 0.5rem;
	color: #1c1917;
}

.counter-message {
	text-align: center;
}

button {
	border: 1px solid black;
	padding: 0 0.75rem 0 0.75rem;
	border-radius: 1rem;
	background-color: #1e293b;
	color: #fafaf9;
}
button:hover {
	background-color: #334155;
}
button:active {
	border: 1px solid black;
	padding: 0 0.5rem 0 0.5rem;
	border-radius: 1rem;
	background-color: #1e293b;
	color: #fafaf9;
}

.section-heading {
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0rem;
	margin: 0rem;
}
